.card{
 
  width: 300px;
border: 1px solid rgb(43, 42, 42);
  background-color: #e2dadc;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #d3c8c8;

     
}
.parent{
padding: 20px; 
display: flex;
flex-wrap:wrap ;
gap: 20px;
}
.card button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius:5px ;
}
.card p{
  margin: 20px 0px;
}
.card img{
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 60%;
}